:root {
  --link-color: red;
  --background-main: radial-gradient(
    circle at 10% 20%,
    rgb(253, 239, 132) 0%,
    rgb(247, 198, 169) 54.2%,
    rgb(21, 186, 196) 100.3%
  );
}

body {
  background: var(--background-main);
}
h1 {
  text-align: center;
}

p {
  margin: 20px;
}

a {
  text-decoration: none;
  color: var(--link-color);
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.wiki-link {
  text-align: center;
}

.email-link {
  text-align: center;
}
